{
  "env": {
    "module": {
      "presets": [
        ["env", {
          "targets": { "node": "6" },
          "modules": false
        }],
        "stage-0",
        "react"
      ]
    },
    "main": {
      "presets": ["env", "stage-0", "react"]
    }
  },
  "plugins": [
    "babel-plugin-transform-regenerator",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-inline-import",
    "babel-plugin-transform-class-properties",
    "babel-plugin-transform-es2015-classes",
    "babel-plugin-syntax-dynamic-import"
  ]
}
